<!DOCTYPE html>
<html lang="en">
<head lang="en" th:replace="fragments/head :: head"></head>
<header lang="en" th:replace="fragments/header :: header"></header>
<body>
<h1 th:text="${top_text}"></h1>
<div th:switch="${subjects}">
    <h2 th:case="null">No subjects yet!</h2>
    <div th:case="*">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="subject : ${subjects}">
                <td th:text="${subject.name}"></td>
                <th:block th:if="${user_role == 'teacher'}">
                    <td><a class="btn btn-warning" th:href="@{/subjects/update/{id}(id=${subject.id})}">Update</a></td>
                    <td><a class="btn btn-danger" th:href="@{/subjects/delete/{id}(id=${subject.id})}">Delete</a></td>
                </th:block>
            </tr>
            </tbody>
        </table>
    </div>
    <th:block th:if="${user_role == 'teacher'}">
        <p><a class="btn btn-primary" href="/subjects/create">Add a new subject</a></p>
    </th:block>
</div>
</body>
<footer lang="en" th:replace="fragments/bot :: bot"></footer>
</html>