<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="fragments/head :: head"></head>
<header lang="en" th:replace="fragments/header :: header"></header>
<body>
<form action="#" th:action="@{/groups/create}" th:object="${groupCreateDTO}" method="post">
    <div class="mb-3">
      <!--   <select th:field="*{groupSubjectId}" placeholder="Subject Id">
            <option th:each="subject : ${subjects}" th:value="${subject.id}" th:text ="${subject.id}"></option>
        </select>
-->
        <label class="form-label">Subject Id:</label>
        <input class="form-control" type="text" th:field="*{groupSubjectId}" placeholder="Subject Id"/>
        <div class="form-text" th:if="${#fields.hasErrors('groupSubjectId')}" th:errors="*{groupSubjectId}">Name Error</div>

    </div>
    <div class="mb-3">
        <label class="form-label">Group Number</label>
        <input class="form-control" type="text" th:field="*{number}" id="number" placeholder="number">
        <div class="form-text" th:if="${#fields.hasErrors('number')}" th:errors="*{number}">Number Error</div>
    </div>


    <label><button class="btn btn-success" type="submit">Submit</button></label>
</form>
</body>
<footer lang="en" th:replace="fragments/bot :: bot"></footer>
</html>