<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Configuration packages="com.example.application.logging" name="SOME NAME">
<Appenders>
    <MapAppender name="MapAppender" />
    <Console name="CONSOLE" target="SYSTEM_OUT">
        <PatternLayout pattern="%clr{%d{yyyy-MM-dd HH:mm:ss.SSS}}{faint} %clr{%5p} %clr{${sys:PID}}{magenta} %clr{---}{faint} %clr{[%15.15t]}{faint} %clr{%-40.40c{1.}}{cyan} %clr{%X}{faint} %clr{:}{faint} %m%n%xwEx"> </PatternLayout>
    </Console>
</Appenders>
<Loggers>
    <Root>
        <AppenderRef ref="CONSOLE" level="INFO"/>
        <AppenderRef ref="MapAppender" level="DEBUG"/>
    </Root>
</Loggers>
</Configuration>
