<!DOCTYPE html>
<html lang="en">
<head lang="en" th:replace="fragments/head :: head"></head>
<header lang="en" th:replace="fragments/header :: header"></header>
<body>
  <h1>Students</h1>
  <div th:switch="${students}">
      <h2 th:case="null">No students yet!</h2>
      <div th:case="*">
          <table class="table">
              <thead>
              <tr>
                  <th>Name</th>
                  <th>Last Name</th>
                  <th>Email</th>
                  <th>Year</th>
                  <th:block th:if="${user_role == 'admin'}">
                      <th>Edit</th>
                      <th>Delete</th>
                  </th:block>
              </tr>
              </thead>
              <tbody>
              <tr th:each="student : ${students}">
                  <td th:text="${student.name}"></td>
                  <td th:text="${student.lastName}"></td>
                  <td th:text="${student.email}"></td>
                  <td th:text="${student.year}"></td>
                  <th:block th:if="${user_role == 'admin'}">
                      <td><a class="btn btn-warning" th:href="@{/students/update/{id}(id=${student.id})}">Update</a></td>
                      <td><a class="btn btn-danger" th:href="@{/students/delete/{id}(id=${student.id})}">Delete</a></td>
                  </th:block>
              </tr>
              </tbody>
          </table>
      </div>
      <th:block th:if="${user_role == 'admin'}">
        <p><a class="btn btn-primary" href="/students/create">Add a new student</a></p>
      </th:block>
  </div>
</body>
<footer lang="en" th:replace="fragments/bot :: bot"></footer>
</html>