<!DOCTYPE html>
<html lang="en">
<head lang="en" th:replace="fragments/head :: head"></head>
<header lang="en" th:replace="fragments/header :: header"></header>
<body>
    <div th:switch="${user.role}">
        <div th:case="'admin'">
            <h1> Hello Admin</h1>
        </div>
        <div th:case="'teacher'">
            Hello teacher
            <a th:href="@{/subjects/my_subjects}">My Teacher Subjects</a>
            <a th:href="@{/teachers/subjects}">My Teacher Lessons</a>
        </div>
        <div th:case="'student'">
            Hello student
            <a th:href="@{/subjects/my_subjects}">My Student Subjects</a>
            <a th:href="@{/students/subjects}">My Student Lessons</a>
        </div>
    </div>
</body>
<footer lang="en" th:replace="fragments/bot :: bot"></footer>
</html>